body {
  
  background-color: #000000;
 
}

p {
  color: #ffffff;
}

h1{
  color: #ffffff;
}

h2{
  color: #ffffff;
}

h3{
  color: #ffffff;
}

h4{
  color: #ffffff;
}

footer {
  color: #ffffff;
}

.under {
  color: #ffffff;
  font-size: x-large;
  border-bottom: solid 3px #ffffff;
}

.textcenter {
  text-align: center;
}
